@import "tailwindcss";

@theme {
    --color-forest: #0a0a0a; /* Pure Black */
    --color-emerald: #FFA040; /* Light Orange */
    --color-soft-green: #FFCF70; /* Light Yellow */
    --color-off-white: #E5E7EB; /* Text Color */
    --font-inter: "Inter", "Poppins", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-forest);
        color: var(--color-off-white);
        font-family: var(--font-inter);
        overflow-x: hidden;
    }

    /* Styling scrollbar for dark theme */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #050505; /* Very dark navy */
    }

    ::-webkit-scrollbar-thumb {
        background: #FFA040; /* Orange */
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #FFCF70; /* Yellow hover */
    }
}